<div>
  <div>
    <h1>
      Your todo list
    </h1>
  </div>
</div>


<div>
  <div>
    <h2>
      Add a new todo
    </h2>

    <form action="/insert_todo" method="post">
      <div>
        <label for="body_box">
          Describe the task:
        </label>

        <input type="text" id="body_box" name="query_body">

        <input type="hidden" id="status_box" name="query_status" value="next_up">
      </div>

      <button>
        Add to Next Up
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Body
        </th>

        <th>
          Status
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_todos.each do |a_todo| %>
      <tr>
        <td>
          <%= a_todo.id %>
        </td>

        <td>
          <%= a_todo.body %>
        </td>

        <td>
          <%= a_todo.status %>
        </td>

        <td>
          <%= a_todo.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_todo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_todo.updated_at) %> ago
        </td>

        <td>
          <a href="/todos/<%= a_todo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
