

<div class="container">
  <div class="mx-auto text-center">
    <h1>
      Your todo list
    </h1>
  </div>


<div class="container py-5">
  <div class="text-center">
    <h2>
      Add a new todo
    </h2>

    <form action="/insert_todo" method="post">
      <div>
        <label for="body_box">
          Describe the task:
        </label>
<br>
        <textarea class="form-control" id="body_box" name="query_body" row="6"></textarea>

        <input type="hidden" id="status_box" name="query_status" value="next_up">
      </div>
<br>
      <button class="btn btn-primary btn-lg">
        Add to Next Up
      </button>
    </form>
  </div>
</div>
<hr>

<div class="container">
<div class="mx-auto">
<div class="col next_up py-3 text-center">
<h2>Next Up</h2>
<ul>
<% @list_of_todos.each do |a_todo| %>
<% if a_todo.status == "next_up" %>
<li>
<%= a_todo.body %><br>
<small>Added <%= time_ago_in_words(a_todo.created_at) %> ago
<a href="/delete_todo/<%= a_todo.id %>">Delete</a></small>
<form action="/modify_todo/<%= a_todo.id %>" method="post">
  <input type="hidden" name="query_status" value="in_progress">
  <button>Move to In Progress</button>
        </form>

</li>
<% end %>
<% end %>
</ul>
</div>

<div class="in_progress py-3 text-center">
<h2>In Progress</h2>
<ul>
<% @list_of_todos.each do |a_todo| %>
<% if a_todo.status == "in_progress" %>
<li>
<%= a_todo.body %><br>
<small>Started <%= time_ago_in_words(a_todo.updated_at) %> ago
<a href="/delete_todo/<%= a_todo.id %>">Delete</a></small>
<form action="/modify_todo/<%= a_todo.id %>" method="post">
  <input type="hidden" name="query_status" value="done">
  <button>Move to Done</button>
        </form>

</li>
<% end %>
<% end %>
</ul>
</div>

<div class="done py-3 text-center">
<h2>Done</h2>
<% @list_of_todos.each do |a_todo| %>
<% if a_todo.status == "done" %>
<ul>
<li>
<%= a_todo.body %><br>
<small>Completed at <%= a_todo.updated_at.strftime("%l:%M%P on %d-%b-%Y") %>
<a href="/delete_todo/<%= a_todo.id %>">Delete</a></small>

</li>

<% end %>
</ul>
<% end %>
</div>

</div>
</div>

</div>
