<!DOCTYPE html>
<html>
  <head>
    <title>Todo List 1</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<link href="
https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/sketchy/bootstrap.min.css
" rel="stylesheet">

     <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">To Do List</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
        <% if @current_user == nil %>
          <a class="nav-link" href="/user_sign_in">Sign in
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_up">Sign up</a>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/todos">Your To Do list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/edit_user_profile">Edit profile</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/user_sign_out">Sign out</a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<div class="container py-5">
<%= notice %>
<%= alert %>
</div>


    <%= yield %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>
